{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Home Page

{% endblock %}


{% block content %}

 
  <article>

        <ul>
            {% for chore in chores %}

                <li class="chore">

                    {{ chore.priority }} 
                    
                    {{ chore.name }}
                
                    
                    {% if task.completed %} 
                        <a href="/incomplete/{{ chore.id }}">🗹</a>
                    {% else %} 
                        <a href ="/complete/{{ chore.id }}">☐</a>
                    {% endif %}
                        <a href ="/delete/{{ chore.id }}">Delete</a>
            
                        
                </li>

                 
            {% else %}

                <p>None "try adding a chore!"</p>

            {% endfor %}
        
        </ul>

    </article>

            

        <h3>Chores/test</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="name of chore"
                required
            >
        </form> 


        <form action="/add" method="POST">

            <input
                type="number"
                name="priority"
                min="0"
                max="100"
                placeholder="priority of this chore?"
            >
        </form> 
  
  
            {#--add the swith to people tab here--#}     {#--add the swith to info tab here--#}
            


{% endblock %}