{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Home Page

{% endblock %}


{% block content %}

    <h1>This home page will show users a page with a list,  which can be edited, by either deleting them, or editing their details.</h1>

    <p>Functionallity should be, able to see and view each indavidual task.
    it should have the fuctionallity to be edited, and it should have certain key components like being able to swith tab, date, and time.</p>

    <p>steps for this page</p>

    <ul>
        <li>make the blueprint layout</li>
        <li>Make example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Flash messages for information</li>
    </ul>

   

{% endblock %}
 
  <article>

        <ul>
            {% for chore in chores %}

                <li class="chore">

                    {{ chore.priority }} 
                    
                    {{ chore.name }}
                
                    
                    {% if task.completed %} 
                        <a href="/incomplete/{{ chore.id }}">🗹</a>
                    {% else %} 
                        <a href ="/complete/{{ chore.id }}">☐</a>
                    {% endif %}
                        <a href ="/delete/{{ chore.id }}">Delete</a>
            
                        
                </li>

                 
            {% else %}

                <p>None!</p>

            {% endfor %}
        
        </ul>

    </article>


{% block content %}


        <h3>Chores/test</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="name of chore"
                required
            >
        </form> 
  
            {#--add the swith to people tab here--#}     {#--add the swith to info tab here--#}
            


{% end content %}