

{% extends 'page/basejinja' %}


{% block title %}

    People page

{% endblock %}


{% block content %}

    <h1>People can view this page and it should be able to, </h1>


    <article>

        <ul>
            {% for  in  %}

                <li>
                    <a href="//{{ thing.id }}">
                        {{ .name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new thing"
                required
            >

            <input
                type="number"
                name="price"
                min="0"
                placeholder="Price in dollars"
                required
            >

            <button>Add the Thing</button>

        </form>

    </article>

{% endblock %}

