

{% extends 'pages/base.jinja' %}




{% block title %}

    People page

{% endblock %}


{% block content %}

    <h1>People can view this page and it should be able to, see who is in thir family/group,
     along with the simple settings to delete, add, and change details about the indavidual person.</h1>


{% endblock %}
    <article>

        <ul>
            {% for person in party %}

                <li class="chore">

                    
                    {{ person.name }}
                
                </li>

                 
            {% else %}

                <p>None "try adding a member!"</p>

            {% endfor %}
        
        </ul>

    </article>

            

        <h3>Party/test</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="name of person"
                required
            >
        </form> 


        <form action="/add" method="POST">

            <input
                type="number"
                name="host of party"
                min="0"
                max="1"
                placeholder="Are they a party leader?"
            >
        </form> 
  
  
            


{% endblock %}w